			</div>
			<% if !current_user %>
			<div class="row">
				<div class="span4">
					<div class="hero-unit card-home card-admin">
						<h1>
							Administração
						</h1>
						<p>
							Painel de administração para membros da empresa
						</p>
						<p>
							<a class="btn btn-large" href="/users/sign_in">Login »</a>
						</p>
					</div>
				</div>
				<div class="span4">
					<div class="hero-unit card-home card-subscribe">
						<h1>
							Inscrição
						</h1>
						<p>
							Formulário de inscrição para o processo seletivo corrente
						</p>
						<p>
							<a class="btn btn-large" href="/home/inscricao">Inscrever-se »</a>
						</p>
					</div>
				</div>
				<div class="span4">
					<div class="hero-unit card-home card-results">
						<h1>
							Resultados
						</h1>
						<p>
							Lista de aprovados nos processos seletivos anteriores
						</p>
						<p>
							<a class="btn btn-large" href="#">Visualizar »</a>
						</p>
					</div>
				</div>
			</div>

			<% else %>

			<h1>Bem-Vindo!</h1>

			<p><b>Empresa:</b> <%= current_user.enterprise.name %></p>

			<p><b>Seleções:</b></p>
			<ul>
				<% current_user.enterprise.selection.each do |selections| %>

					<li><%= selections.title %> <%= link_to "Editar Seleção", edit_selection_path(selections) %></li>
						
							<% selections.steps.each do |steps| %>
								<ul>
							
								<li><%= steps.title %></li>
								</ul>
							<% end %>
						
				<% end %>
			</ul>
			<p> <%= link_to "Criar Nova Seleção", new_selection_path %> </p>

			<% end %>
			<div class="row">
				<div class="span12">
				</div>
			</div>
		</div>
	</div>
</div>
