<%= simple_form_for([@selection, @candidate], :html => { :class => 'form-horizontal' ,  :multipart => true }) do |f| %>

      <%= f.input :name, label: 'Nome' %>
      <%= f.input :email, label: 'Email' %>      
      <%= f.input :facebook, label: 'Facebook' %>
      <%= f.input :telephone, label: 'Telefone' %>
      <%= f.input :about, label: 'Fale um pouco sobre você', :input_html => {
      	:style => 'width: 280px; height: 200px'} %>
          
      <%= f.button :submit, :class => 'btn btn-primary' %>
      <a href="/" class="btn btn-primary">Cancelar</a>      
<% end %>