<h1>Candidatos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telepone</th>
    <th>Facebook</th>
    <th>Sobre</th>
    <th></th>
    <th></th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%= candidate.name %></td>
    <td><%= candidate.email %></td>
    <td><%= candidate.telephone %></td>
    <td><%= candidate.facebook %></td>
    <td><%= candidate.about %></td>
    <td><%= link_to 'Show', candidate %></td>
    <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate', new_candidate_path %>
