<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @candidate.name %>
</p>

<p>
  <b>Email:</b>
  <%= @candidate.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @candidate.telephone %>
</p>

<p>
  <b>Facebook:</b>
  <%= @candidate.facebook %>
</p>

<p>
  <b>About:</b>
  <%= @candidate.about %>
</p>

<h2>Avaliações</h2>
<% @candidate.avaliations.each do |avaliation| %>
  <p>
    <strong>Etapa:</strong>
    <%= avaliation.step %>
  </p>
 
  <p>
    <strong>Avaliação:</strong>
    <%= avaliation.avaliation %>
  </p>
<% end %>

<p>Adicionar avaliação:</p>
<%= form_for([@candidate, @candidate.avaliations.build]) do |f| %>
  <p>
    <%= f.label :step %><br />
    <%= f.number_field :step %>
  </p>
  <p>
    <%= f.label :avaliation %><br />
    <%= f.text_area :avaliation %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Edit', edit_selection_candidate_path(@candidate) %> |
<%= link_to 'Back', home_inscricao_path %>
