<h1>Processos seletivos</h1>
  <% if @selections.count.zero? %>
    <p><h4>Não há processos seletivos cadastrados!</h4></p>
  <% else %>
    <table>
      <tr>
        <th>Title</th>
        <% if can? :manage, 'users' %>
          <th>Enterprise</th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @selections.each do |selection| %>
      <% if selection.enterprise_id == current_user.enterprise_id or current_user.enterprise_id.eql?1 %>
        <tr>
          <td><%= selection.title %></td>
          <% if can? :manage, 'users' %>
            <td><%= Enterprise.find(selection.enterprise_id).name %></td>
          <% end %>
          <td><%= link_to 'Detalhes', selection %>  </td>
          <td><%= link_to 'Editar', edit_selection_path(selection) %>  </td>
          <td><%= link_to 'Excluir', selection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
  <% end %>
<br />

<%= link_to 'New Selection', new_selection_path %>

