	<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @selection.title %>
</p>

<p>
  <b>Description:</b>
  <%= @selection.description %>
</p>

<p><b>Steps</b></p>

<table class="table table-hover ">
<% @parametro = params[:id] %>
<% @all_steps = Step.all %>
	<thead>	
		<tr>
			<th>Titulo</th>
		</tr>

	</thead>	
<% @all_steps.each do |step| %>
	<% if step.selection_id.equal? @parametro.to_i %>
	<tr>		
		<td><%= step.title %> </td>
		<td><%= link_to 'Show', step %> </td>
		<td><%= link_to 'Edit', edit_step_path(step) %></td>
	</tr>
	<% end %>
<% end %>
</table>

<%= link_to 'Nova Etapa', new_step_path(:id => params['id']) %> |
<%= link_to 'Editar Seleção', edit_selection_path(@selection) %> |
<%= link_to 'Voltar', selections_path %>
