<%= simple_form_for([@selection, @step], :html => { :class => 'form-horizontal' ,  :multipart => true }) do |f| %>
<% if @selection.enterprise_id == current_user.enterprise_id %>
  <%= f.input :title %>
  <%= f.input :date, as: :date, start_year: Date.today.year,  
                                end_year: Date.today.year + 10 ,
                                order: [:day,:month, :year] %>
  <%= f.input :hour %>
  <%= f.input :description, :input_html => {:style => 'width: 500px; height: 200px'}%>
  
  <p>
    <b> attachment </b><br/>
    <%= f.file_field :attach %>
  </p>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                selection_steps_path, :class => 'btn btn-info' %>
  </div>
  <% else %>
    <% redirect_to root_url %>
  <% end %>
<% end %>