<%= simple_form_for @step, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :hour %>
  <%= f.input :date %>
  <%= f.input :description %>
  
  <% @objeto = Selection.find(params[:id]) %>	
  <%= hidden_field_tag 'teste', @objeto.id %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                steps_path, :class => 'btn' %>
  </div>
<% end %>