<h1>Listing steps</h1>

<table>
  <tr>
    <th>Título</th>
    <th>Data</th>
    <th>Hora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%= step.title %></td>
    <% @data = step.date %>
    <% @data.to_s %>
    <td><%= @data.strftime "%d/%m/%Y" %></td>
    <% @hora = step.hour %>
    <% @hora.to_s%>
    <td><%= @hora.strftime "%H:%M" %></td>
    <td><%= link_to 'Detalhes', selection_step_path(step.selection, step) %></td>
    <td><%= link_to 'Editar', edit_selection_step_path(step.selection, step) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Etapa', new_selection_step_path(params[:selection_id]) %> | 
<%= link_to 'Voltar para Seleção', selection_path(params[:selection_id]) %>
