<h1>Listing steps</h1>

<table>
  <tr>
    <th>Hour</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr>
    <td><%= step.hour %></td>
    <td><%= step.date %></td>
    <td><%= link_to 'Show', selection_step_path(step.selection, step) %></td>
    <td><%= link_to 'Edit', edit_selection_step_path(step.selection, step) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_selection_step_path(params[:selection_id]) %> | 
<%= link_to 'Back to Selection', selection_path(params[:selection_id]) %>
