<p id="notice"><%= notice %></p>

<h2> Etapa: <%= @step.title %> </h2>

<h3> <%= @step.description %></h3>

<p>
  <b>Data:</b>
  <% @data = @step.date %>
  <% @data.to_s %>
  <%= @data.strftime "%d/%m/%Y"	%>
</p>
<p>
  <b>Hora:</b>
  <% @hora = @step.hour %>
  <% @hora.to_s%>
  <%= @hora.strftime "%H:%M" %>
</p>


<%= link_to 'Editar', edit_selection_step_path(@step.selection, @step) %> |
<%= link_to 'Voltar', @step.selection %> 
