<p id="notice"><%= notice %></p>

<h2> Etapa : <%= @step.title %> </h2>

<h3> <%= @step.description %></h3>
<p>
  <b>Hour:</b>
  <% @hora = @step.hour %>
  <% @hora.to_s%>
  <%=@hora.strftime "%H:%M"	%>
</p>
<p>
  <b>Date:</b>
  <%= @step.date %>
</p>


<%= link_to 'Edit', edit_selection_step_path(@step.selection, @step) %> |
<%= link_to 'Back', selection_steps_path %>
