<p id="notice"><%= notice %></p>

<p>
  <b>Hour:</b>
  <%= @step.hour %>
</p>

<p>
  <b>Date:</b>
  <%= @step.date %>
</p>


<%= link_to 'Edit', edit_selection_step_path(@step.selection, @step) %> |
<%= link_to 'Back', selection_steps_path %>
