<!DOCTYPE html>
<html>
<head>
  <title>Selection Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<div class="row">
		<div class="span12">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container-fluid">
						 <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a> <a href="/" class="brand">Selection Manager</a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li class="active">
									<a href="/">Home</a>
								</li>
								<li>
									<a href="#">Sobre</a>
								</li>
								<li>
									<a href="#">Contato</a>
								</li>
								<% if can? :manage,:all %>
									<li class="active" >
										<a <%=link_to "Manage users", users_path %>></a>
									</li>
									<li class="active">
										<a <%=link_to "Manage enterprises", enterprises_path %>></a>
									</li>
								<% else %>
									<% if can? :manage,'users' %>
										<li class="active" >
											<a <%=link_to "Manage users", users_path %>></a>
										</li>
										<li class="active" >
											<a <%=link_to "Manage Selection", selections_path %>></a>
										</li>
									<% else %>
										<% if can? :manage, :selection, :steps  %>
											<li class="active" >
												<a <%=link_to "Manage Selection", selections_path %>></a>
											</li>
										<% end %>
									<% end %>
								<% end %>
								<% if current_user %>
								<li class="active">
									<a <%=link_to "Sign out", destroy_user_session_path, method: :delete %>></a>
								</li>
								<%end%>								
							</ul>							
						</div>
						
					</div>
				</div>
				

<%= yield %>

</body>
</html>
